<div>
  <div class="uk-card uk-card-default">
    
    <!-- Содержимое статьи -->
    <a href="user_article_delete.php/?id={{id}}&user_name={{user_name}}" style="float:right; font-size: 30px; color:red; margin-right:15px;"><span uk-icon="close" style="font-size: 30px"></span></a>
    <div class="uk-card-body">
         <center>
         <img src='{{img}}' style="height:500px"/>
      </center>
        
      <!-- Заголовок -->
      <h3 class="uk-card-title uk-margin-remove-bottom">{{title}}</h3>
      <!-- Дата и время создания -->
      <p class="uk-text-meta uk-margin-bottom">
      	<span uk-icon="calendar"></span> {{created}}
      </p>

      {{preview}}
			
      <p class="uk-margin-top">
      	<a href="/article.php?id={{id}}" class="uk-button uk-button-default">
      	  Перейти <span uk-icon="arrow-right"></span>
      	</a>
      </p>
      <p class="uk-text-meta uk-margin-top" style="float: right">
          <span uk-icon="social"></span> Просмотрено: {{views}} 
        </p>
    </div>
  </div>
</div>